@import "src/styles";

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-brand {
  color: $primary;
}

.navbar {
  box-shadow: 2px 2px 5px $secondary;
  opacity: 0.9;
  background: #fff;
  .nav-item {
    font-size: 1.4rem;
    color: $secondary;
  }
}
