/* You can add global styles to this file, and also import other style files */

$primary: #fdf0c4;
$primary-overlay: rgb(253, 240, 196, 0.8);
$primary-overlay: rgba(93, 123, 147, 0.8);

// --color-primary: ;
// --color-primary-light: #f7a992;
// --color-primary-dark: #82a0c2;

@import "bootstrap/scss/bootstrap.scss";
