/* You can add global styles to this file, and also import other style files */

$primary: #004b64;
$secondary: #fddbd4;
$primary-overlay: rgb(253, 240, 196, 0.8);
$primary-overlay: rgba(93, 123, 147, 0.8);

// --color-primary: ;
// --color-primary-light: #f7a992;
// --color-primary-dark: #82a0c2;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 768px) {
  #navbarCollapse {
    background-color: whitesmoke;
  }
}
