@import "src/styles";

img {
  color: #a9a9a9;
}

#stock-form {
  margin-top: 75px;
}

.btn-primary:hover,
.btn-primary:active {
  color: $primary;
  background-color: $secondary;
  border-color: none;
}

.btn-primary:focus {
  outline: none;
  box-shadow: none;
}
