<div id="stock-form" class="container">
  <div class="row">
    <div class="col-lg m-5">
      <h5>Enter Symbol</h5>
      <form
        autocomplete="off"
        class="form-inline"
        #form="ngForm"
        (ngSubmit)="onSubmit(form)"
      >
        <div class="form-group">
          <label for="stock" class="sr-only">Stock</label>
          <input
            type="text"
            class="form-control mt-2"
            [(ngModel)]="copiedStock.stock"
            #stock="ngModel"
            id="stock"
            placeholder="Ex. AAPL"
            name="stock"
          />
        </div>
        <button type="submit" class="btn btn-primary m-2">
          Search For Stock
        </button>
      </form>
    </div>
    <div class="col-lg my-5">
      <div *ngIf="profileStock">
        <div class="card" style="width: 18rem;">
          <img
            [src]="profileStock.image"
            class="card-img-top"
            alt="Stock Does Not Have an Image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ profileStock.companyName }}</h5>
            <p class="card-text">
              {{ profileStock.description | slice: 0:150 }}...
            </p>
            <a (click)="getMoreStockInfo(profileStock)" class="btn btn-primary"
              >See More</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg my-5">
      <div *ngIf="isMoreInfo" class="card" style="width: 18rem;">
        <div class="card-header">
          {{ profileStock.companyName }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Exchange: {{ profileStock.exchangeShortName }}
          </li>
          <li class="list-group-item">Industry: {{ profileStock.industry }}</li>
          <li class="list-group-item">Sector: {{ profileStock.sector }}</li>
          <li class="list-group-item">
            Full-Time Employees: {{ profileStock.fullTimeEmployees }}
          </li>
          <li class="list-group-item">Market Cap: {{ profileStock.mktCap }}</li>
          <li class="list-group-item">Price: {{ profileStock.price }}</li>
          <li class="list-group-item">Changes: {{ profileStock.changes }}</li>
          <li class="list-group-item">Range: {{ profileStock.range }}</li>
          <li class="list-group-item">Volume Avg: {{ profileStock.volAvg }}</li>
          <li class="list-group-item">Beta: {{ profileStock.beta }}</li>
          <li class="list-group-item">DCF: {{ profileStock.dcf }}</li>
          <li class="list-group-item">DCF Diff: {{ profileStock.dcfDiff }}</li>
          <li class="list-group-item">
            Last Dividend: {{ profileStock.lastDiv }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
